[Unit]
Description=Start the crawler as a daemon.
Requires=network-online.target
After=network.target

[Service]
User=%i
ExecStart=/usr/bin/python3.5 /home/%i/FingerprintSecureDrop/fpsd/crawler.py
Restart=always

[Install]
WantedBy=multi-user.target

