[Unit]
Description=Start the crawler as a daemon.
Requires=network-online.target
After=network.target

[Service]
User={{ fpsd_crawler_system_account }}
ExecStart=/usr/bin/python3.5 {{ fpsd_crawler_project_directory }}/fpsd/crawler.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

