# Crawler
pyvirtualdisplay # for tbselenium.utils.st{art,op}_xvfb
stem
tbselenium

# Sorter
aiohttp
aiosocks
psycopg2
SQLAlchemy

# Machine Learning
numpy
PyYAML
pandas
scipy
tqdm
scikit-learn==0.17.1
matplotlib
seaborn
jupyter
